*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 2rem;
}
input {
  font-size: 2rem;
  width: 4rem;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 23rem);
  grid-auto-rows: 27rem;
  grid-gap: 2rem;
  box-sizing: border-box;
  grid-auto-flow: dense;
}
@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 30rem);
  }
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.2rem -0.2rem 0.5rem #999;
}
.name {
  font-size: 1.5rem;
  background: rgb(207, 0, 121);
  width: 100%;
  color: #fff;
  text-align: center;
}
.max {
  background: rgb(236, 2, 139);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.max-p {
  font-size: 1.2rem;
  color: #fff;
}

.imageBox {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  background: #fff;
}
.imageBox > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.special {
  width: 100%;
}
.head {
  text-align: center;
  font-size: 1.2rem;
  background: rgb(236, 2, 139);
  color: #fff;
}
.attacks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.2rem;
}
.attack {
  border: 2px solid rgb(236, 2, 139);
  font-size: 1.1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.2rem;
  color: #333;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
