*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: #eee;
  display: flex;
}

.container {
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  grid-auto-rows: 30rem;
  grid-gap: 1.4rem;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: red;
  margin: 1rem;
}
.card__bar {
  background: orange;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  flex: 1;
  font-size: 1.3rem;
  color: #fff;
  align-items: center;
}
.card__body {
  flex: 1;
  max-height: 20rem;
  background: #fff;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.attack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0.2rem;
  padding: 0.3rem;
  border-radius: 0.7rem;
  border: 2px solid #fff;
  text-align: center;
}
.attack__info {
  word-break: keep-all;
  color: red;
}
